h1, h2 {
  text-align: center;
}

/* Bottom bar of the page */
footer {
  width: 100%;
  height: 20vh;
  background-color: darkgreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer article {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 730px) {

.footer-text {
    font-size: 1rem;
    line-height: 0;
    margin: 0;
  }

  .foot-cont {
    display: flex;
    width: 470px;
    height: 40%;
    justify-content: space-between;
    align-items: center;
  }

  footer article h4 {
    text-align: center;
  }
}
